.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #17acda;
    padding: 1rem 0;
    margin: 1rem 0;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #094c79;
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #363636;
}

.cart-item.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  margin-left: 1rem;
  margin: 0.25rem;
}
