.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
  text-align: center;
}

.about-image {
  border-radius: 120px;
  margin-bottom: 20px;
  width: 250px;
  height: 250px;
  object-fit: contain;
}
.about-title {
  font-size: 2em;
  margin-bottom: 30px;
}